* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f7fb;
    color: #333;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.uwindow {
    background-color: #333;
    padding: 1rem;
}

.dwindow {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100%;
}

.lwindow {
    background-color: #fff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sub_lwindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;
}

.sub_lwindow button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.sub_lwindow button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.rwindow {
    display: flex;
    justify-content: center;
    align-items: center; /* Centering content vertically */
}

.sub_rwindow{
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
