<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Analyst</title>
    {% block headblock %} {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <div class="container">
        <div class="t-window">
            <div class="top-bar">
                <div class="logo"></div>
                <div id="main-sbar">
                    {% include 'search-bar.html' %}
                </div>
            </div>
        </div>
        <div class="d-window">
            <div class="dl-window">
                <div class="sdl-window">
                    <a href="/home" class="page-linker">Home</a>
                    <a href="/table" class="page-linker">Stocks</a>
                    <a href="/comparison" class="page-linker">Comparison Tool</a>
                    <a href="/byindustry" class="page-linker">By Industry</a>
                    <a href="/trending" class="page-linker">Trending</a>
                </div>
            </div>
            <div class="dr-window">
                <div class="sdr-window">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
