/* search_bar.css */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s ease;
}

.search-input:focus {
    border-color: #4CAF50;
}

.search-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px;
    margin-left: 8px;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-btn:hover {
    background-color: #45a049;
}

.search-btn:focus {
    outline: none;
}

@media (max-width: 768px) {
    .search-container {
        width: 80%;
    }

    .search-input {
        font-size: 14px;
    }
}
